@model BartenderModel

<center><h2>Welcome to Litty Bar</h2></center>
<div class="container" style="border:solid">
    <div class="col-sm-6">
        <h4 style="margin-left:15px">Customers Please Click below to view Menu</h4>
        <a href="Home/Menu">
            <img id="barPic" src="~/images/best-melbourne-bars.jpg" />
        </a>
    </div>
    <div class="col-sm-6">
        <center><h4>Bartender's Please SignIn Below</h4></center>
        <form id="signIn">
            <input style="margin-top:20px" asp-for="Username" class="form-control" placeholder="Username" required autofocus>
            <input style="margin-top:20px" asp-for="Password" type="password" class="form-control" placeholder="Password" required autofocus>
           <a class="btn btn-lg btn-secondary btn-block" href="Home/BartenderView">Sign In</a>
        </form>
    </div>
</div>